.App {
  text-align: center;
}
.Information input{
  margin: 15px;
}
button{
  width: 250px;
}
button:hover{
  cursor: pointer;
  background-color: grey;
  color: white;
}

.App span{
  margin: 10px;
}