.App {
  text-align: center;
}
.Information input{
  margin: 15px;
}
button{
  width: 250px;
}
button:hover{
  cursor: pointer;
  background-color: grey;
  color: white;
}

.App span{
  margin: 70px;
  color: black;
}

.update_details{
  margin:15px;
}
.App input{
  margin:15px;
}

.user_details{
  margin:20px;
  background-color: rgb(156, 228, 247);
}

.delete_user{
  padding: 10px;
}
